.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    /* position: absolute; */
    background-color: black;
}

.bannerContainer {
    display: flex;
    gap: 200px;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.bannerContainer img {
    width: 936px;
    height: 1336;
}

.bannerBox {
    display: flex;
    flex-direction: column;
}

.bannerBox h1 {
    margin-top: 29px;
    margin-bottom: 44px;
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 400;
}

.bannerBox ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
    color: white;
}

.bannerBox ul hr {
    width: 70px;
    background-color: rgb(159, 143, 96);
    color: rgb(159, 143, 96);
    height: 5px;
    border: none;
    outline: none;
}

.bannerBox ul li {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.bannerBox ul li img {
    height: 22px;
    width: 30px;
}

.bannerBox ul li p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.bannerBox {
    display: flex;
}

.adress {
    margin-top: 96px;
    display: flex;
    gap: 10px;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 24px;
    font-weight: 400;
}

.adress img {
    height: 40px;
}

footer {
    margin-top: 0px;
}

.footer {
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    margin-top: 0px;
    width: 100%;
    bottom: 0px;
}

@media (min-width: 320px) and (max-width: 435px) {
    .bannerContainer {
        margin-top: 0px;
        gap: 20px;
        flex-direction: column;
        padding: 0 10px;
        height: auto;
    }

    footer {
        margin-top: 0px;
    }

    .footer {
        width: 100%;
    }

    .bannerContainer img {
        width: 100%;
    }

    .adress {
        margin-top: 30px;
        font-size: 16px;
    }

    .bannerBox {
        width: 100%;
    }
}