.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBox {
    width: 1300px;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.bannerSwiper {
    width: 1300px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutUSContainer {
    display: flex;
    gap: 44px;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}


.bannerSlideBox {
    display: flex;
    gap: 120px;
    flex-direction: column;
    align-items: center;
}

.bannerSlideText {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.bannerSlideBox header h2 {
    color: rgb(242, 242, 242);
    font-family: 'Merriweather';
    font-size: 69px;
    font-weight: 400;
}

.bannerSlideBox p {
    color: rgb(242, 242, 242);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.sectionTitle {
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.aboutUSContainer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 597px;
}

.professionalismContainer {
    display: flex;
    align-items: center;
    gap: 35px;
    background-color: white;
    /* padding: 0px 310px; */
}

.professionalismContainer p {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.advantagesContainer {
    display: flex;
    width: 100%;
    gap: 44px;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.advantagesContainer ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.legalServices小ontainer {
    display: flex;
    gap: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
    background-color: white;    
}

.legalServices小ontainer ul {
    display: grid;
    gap: 46px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

.goToAll {
    width: 293px;
    height: 60px;
    border: 2px solid rgb(159, 143, 96);
    background: rgb(159, 143, 96);
    color: white;
    font-family: 'Merriweather';
    font-size: 16px;

    &:hover {
        background-color: white;
        color: rgb(159, 143, 96);
        border: 2px solid rgb(159, 143, 96);
    }
}

.traditionsContainer {
    display: flex;
    background-color: white;
    /* margin-bottom: 80px; */
}

.traditionsTextBox {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.traditionsTextBox img {
    height: 90px;
    width: 90px;
}

.traditionsTextBox p {
    display: flex;
    gap: 40px;
    flex-direction: column;

    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 450px) {
    .bannerSlide {
        gap: 10px;
    }

    .bannerImg {
        display: none;
    }

    .bannerSwiper {
        padding: 0px 10px;
        padding-bottom: 20px;
    }

    .aboutUSContainer {
        gap: 20px;
        padding: 20px 0px;
    }

    .bannerSlide header h2 {
        font-size: 16px;
    }

    .bannerSlideBox p {
        font-size: 14px;
    }

    .aboutUSContainer ul {
        flex-direction: column;
    }

    .sectionTitle h2 {
        font-size: 18px;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        /* padding: 0px 10px; */
    }

    .mainContainer {
        padding: 0px 10px;
    }

    .professionalismContainer {
        margin-top: 645px;
        gap: 10px;
        padding: 0px 10px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    .professionalismContainer p {
        font-size: 14px;
    }

    .professionalismContainer img {
        width: 100%;
        height: 490px;
    }

    .advantagesContainer {
        padding: 30px 0px;
        gap: 20px;
    }

    .advantagesContainer ul {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .legalServices小ontainer {
        padding: 20px 10px;
    }

    .legalServices小ontainer ul {
        display: flex;
        flex-direction: column;
    }

    .traditionsLeftIMG {
        display: none;
    }

    .traditionsRightIMG {
        display: none;
    }

    .traditionsTextBox {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 30px 0px;
    }

    .traditionsTextBox p {
        font-size: 14px;
    }
}