.button {
    min-width: 230px;
    cursor: pointer;

    border: 2px solid rgb(159, 143, 96);
    background: rgb(159, 143, 96);
    color: white;
    font-family: 'Merriweather';
    font-size: 16px;

    text-align: center;
    padding: 10px;

    &:hover {
        background-color: white;
        color: rgb(159, 143, 96);
        border: 2px solid rgb(159, 143, 96);
    }
}