.criminalDefenseCard {
    box-sizing: border-box;
    border: 1px solid rgb(159, 143, 96);
    display: flex;
    gap: 16px;
    height: 100%;
    align-items: center;
    padding: 20px;
}

.criminalDefenseCard h2 {
    font-family: 'Merriweather';
    font-size: 22px;
    font-weight: 600;
}

.criminalDefenseCard p {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

@media (min-width: 320px) and (max-width: 450px) {
    .criminalDefenseCard {
        width: 100%;
    }

    .criminalDefenseCard h2 {
        font-family: 'Merriweather';
        font-size: 16px;
        font-weight: 600;
    }

    .criminalDefenseCard p {
        color: rgb(0, 0, 0);
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
}