.bannerContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.bannerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerBox h1 {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 38px;
    font-weight: 700;
}

.bannerBoxText {
    display: flex;
    gap: 300px;
    align-items: center;
}

.bannerBoxTextLeft {
    display: flex;
    gap: 20px;
    flex-direction: column;
}


.container {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.courtDecision {
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.courtDecision header h2 {
    color: rgb(17, 17, 50);
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}


.courtDecision ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.courtDecision ul hr {
    height: 2px;
    border: none;
    outline: none;
    background-color: rgb(159, 143, 96);
}

.thanksContainer {
    width: 1300px;
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.thanksContainer header h2 {
    color: rgb(17, 17, 50);
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.swiperBox {
    width: 1300px;
}

.swiperContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.swiperContainer button {
    background: none;
}

@media (min-width: 320px) and (max-width: 450px) {
    .bannerBoxText {
        gap: 20px;
        flex-direction: column;
        align-items: left;
    }

    .bannerBoxText img {
        width: 100%;
    }

    .thanksContainer {
        width: 100%;
        gap: 20px;
    }

    .container {
        gap: 20px;
        padding: 20px 10px;
    }

    .courtDecision {
        gap: 10px;
    }

    .courtDecision header h2 {
        font-size: 18px;
    }

    .thanksContainer header h2 {
        font-size: 16px;
    }

    .swiperContainer {
        width: 100%;
        gap: 0px;
    }

    .swiperBox {
        min-width: 320px;
        max-width: 380px;
    }

    .btnSliderLeft {
        display: none;
    }

    .btnSliderRight {
        display: none;
    }

    .bannerBoxTextLeft {
        padding-top: 20px;
    }

    .bannerBoxTextLeft h1 {
        font-size: 20px;
    }
}