.breadcrumb {
    list-style: none;
    display: flex;
}

.breadcrumb li img {
    height: 10px;
    width: 10px;
}

.breadcrumb li a {
    text-decoration: none;
    color: white;
    font-family: 'Merriweather';
    font-size: 15px;
    font-weight: 700;

    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 450px) {
    .breadcrumb {
        display: none;
    }

    .bannerBoxTextLeft h1 {
        font-size: 18px;
    }
}