.baseCard {
    width: auto;
    height: 527px;
    display: flex;
    gap: 54px;
    flex-direction: column;
    padding: 35px 30px;
}

.baseCard header {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.baseCard header h2 {
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: 700;
}

.baseCard header img {
    height: 50px;
    width: 50px;
}

.baseCard p {
    font-family: 'Montserrat';
    line-height: 150%;
}

@media (min-width: 320px) and (max-width: 450px) {
    .baseCard {
        width: auto;
        padding: 10px;
        gap: 10px;
        height: 400px;
    }

    .baseCard header {
        gap: 10px;
    }

    .baseCard p {
        font-size: 14px;
    }
}