.bannerContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.widthBannerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerBox {
    width: 1300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 412px;
    justify-content: center;
}

.bannerBoxText {
    display: flex;
    gap: 95px;
}

.bannerBoxText h2 {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 31px;
    font-weight: 700;
}

.bannerBoxText p {
    width: 700px;
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}


.container {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.criminalDefense {
    width: 1300px;
    padding: 44px 0px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    align-items: center;
}

.sectionTitle h2 {
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-size: 32px;
    text-align: center;
}

.criminalDefense ul {
    width: 100%;
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

.protectionCriminalProceedingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 66px;
    width: 100%;
    background-color: white;
}

.protectionCriminalProceedingsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.protectionCriminalProceedingsText {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.protectionCriminalProceedingsText p {
    width: 712px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.protectionCriminalProceedingsText p {
    display: flex;
    flex-direction: column;
    line-height: 150%;
}

.recommendationsContainer {
    width: 1018px;
    padding: 21px 141px;
    height: 274px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 143, 96);
}

.recommendationsContainer p {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.textBox {
    width: 1300px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    align-items: left;
}

.textBox header h2 {
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.7px;
}

.textBox ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.textBox ul li {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.textContainer {
    display: flex;
    gap: 80px;
    flex-direction: column;
}

@media (min-width: 320px) and (max-width: 450px) {
    .bannerBox {
        width: 100%;
        height: auto;
    }

    .bannerBoxText {
        gap: 20px;
        padding: 20px;
        flex-direction: column;
    }

    .bannerBoxText h2 {
        font-size: 16px;
    }

    .bannerBoxText p {
        width: 100%;
        font-size: 14px;
    }

    .container {
        width: 100%;
        gap: 20px;
        padding-bottom: 20px;
    }

    .criminalDefense {
        width: auto;
        padding: 0px 10px;
        padding-top: 20px;
    }

    .criminalDefense ul {
        display: flex;
        flex-direction: column;
    }

    .protectionCriminalProceedingsContainer {
        flex-direction: column;
        gap: 0px;
    }

    .protectionCriminalProceedingsBox {
        width: 100%;
        flex-direction: column;
    }

    .protectionCriminalProceedingsContainer img {
        width: 100%;
    }

    .protectionCriminalProceedingsText {
        gap: 10px;
        padding: 10px;
    }

    .protectionCriminalProceedingsText p {
        width: 100%;
        font-size: 14px;
    }

    .recommendationsContainer {
        width: auto;
        padding: 10px;
        height: auto;
    }

    .recommendationsContainer p {
        font-size: 14px;
        gap: 10px;
        padding: 10px;
        width: 100%;
    }

    .textContainer {
        gap: 10px;
    }

    .textBox {
        gap: 10px;
        width: auto;
        padding: 10px;
    }

    .textBox header h2 {
        width: auto;
        font-size: 15px;
        line-height: normal;
    }

    .textBox ul li {
        font-size: 14px;
    }
}