.mainContainer {
    width: 1300px;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.bannerContainerText {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.bannerContainerText header h2 {
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 400;
}

.bannerContainerText p {
    width: 545px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.widthBannerBox {
    display: flex;
    justify-content: center;
}

.bannerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
}

.bannerBox img {
    width: 746px;
}

.container {
    display: flex;

    /*  */

    gap: 80px;
    flex-direction: column;
    padding: 80px 0px;
    width: auto;
    align-items: center;
}


.criminalDefense {
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.sectionTitle h2 {
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-size: 32px;
    text-align: center;
}

.criminalDefense ul {
    width: 100%;
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

.сivilСasesContainer {
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.сivilСasesContainer ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.administrativeProceedingsContainer {
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.administrativeProceedingsBox {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.administrativeProceedingFirstUl {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.administrativeProceedingSecondUl {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.administrativeProceedingSecondUl article {
    flex: 1;
    height: auto;
}

.container section {
    width: 1300px;
}



@media (min-width: 320px) and (max-width: 450px) {
    .bannerContainer img {
        width: 100%;
    }

    .bannerBox {
        flex-direction: column;
        gap: 20px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
    }

    .bannerContainerText header h2 {
        font-size: 16px;
    }

    .bannerContainerText p {
        width: 100%;
        font-size: 14px;
    }

    .container {
        padding: 20px 10px;
        gap: 20px;
    }

    .container ul {
        display: flex;
        flex-direction: column;
    }

    .container section {
        gap: 20px;
        width: 100%;
    }

    .administrativeProceedingsBox {
        width: 100%;
    }

    .sectionTitle h2 {
        font-size: 16px;
    }
}