.container {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
}

.costServicesContainer {
    display: flex;
    gap: 44px;
    flex-direction: column;
}

.costServicesContainer header h2 {
    color: rgb(0, 0, 0);
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.costServicesContainer article {
    background-color: white;
    display: flex;
    gap: 50px;
    padding: 0px 310px;
    align-items: center;
}

.costServicesContainer article p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.disclaimerContainer {
    width: 1230px;
    display: flex;
    padding: 32px;
    border: 1px solid rgb(207, 87, 46);
}

.disclaimerContainer p {
    color: rgb(207, 87, 46);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}

.prcieListContainer {
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}

.disclaimerPriceList {
    width: 1231px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.prcieListContainer table {
    width: 1230px;
    border: 10p;
}

th {
    padding: 16px;
    background-color: white;
    text-align: left;
}

thead th {
    color: rgb(26, 26, 26);
    font-family: 'Montserrat';
    font-size: 20px;
}

tbody tr {
    color: rgb(26, 26, 26);
    font-family: 'Montserrat';
    font-size: 18px;
}